<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Crear nova oferta</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/natacio.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h2>Nova oferta</h2>
	<form action="#" th:action="@{/ofertaProyecto/addOfertaEmpresa}" th:object="${ofertas}" method="post">
		<table>
		
			
			
			
			
			<tr>
				<td><label>objetivo</label></td>
				<td><input type="text" th:field="*{objetivo}" placeholder="objetivo de la práctica"/></td>
			</tr>
			
			<tr>
				 <!-- <td><label>itinerario</label></td> 
				<td><input type="text" th:field="*{itinerario}" /></td> -->
						</tr>
		
			<tr>
				<td><label>fechaAlta</label></td>
				<td><input type="date" th:field="*{fechaAlta}" /></td>
			</tr>
			<tr>
			<tr>
				<td><label>tarea</label></td>
				<td><input type="text" th:field="*{tarea}" /></td>
			</tr>
			
			<tr>
				<td><label>objetivo</label></td>
				<td><input type="text" th:field="*{objetivo}" /></td>
			</tr>
			<tr>
				<td><label>cif</label></td>
				<td><input type="text" th:field="*{cif}" /></td>
			</tr>
			<tr>
				<td><label>dni</label></td>
				<td><input type="text" th:field="*{dni}" /></td>
			</tr>
			
			<tr>
				<td><label>semestre</label></td>
				<td><input type="number" min="1" max="2" th:field="*{semestre}"/></td>
			</tr>
			<label>Itinerario</label>
			
		<select name="Itinerarios" th:field="*{itinerario}">       			
			       <option value="Sin definir">Sin definir</option> 
			       <option value="Ingenieria de Software">Ingenieria de Software</option> 
			       <option value="Tecnologias Web">Tecnologias Web</option>
			       <option value="Sistemes de Informacio">Sistemas de la Informacion</option> 
			       <option value="Ingenieria de Computadores">Ingenieria de computadores</option> 
		</select></tr>
			<tr>
				<td colspan="2"><input type="submit" value="Afegeix oferta" /></td>
				
			</tr>
		</table>
		
		
	</form>
</body>
</html>