<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Crear nou nadador</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
	<h2>Nova oferta</h2>
	<form action="#" th:action="@{/oferta/delete}" th:object="${oferta}" method="post">
		<table>
			<tr>
				<td><label>id</label></td>
				<td><input type="text" th:field="*{id}" /></td>
			</tr>
		
			
			<tr>
				<td colspan="2"><input type="submit" value="Suprimeix oferta" /></td>
				
			</tr>
		</table>
	</form>
</body>
</html>