<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
		<title>BTAS</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
	</head>
	<body>
	
		<!-- HEADER -->
		
		<header>
			<h1>Lista de Ofertas</h1>
		</header>
		
		<!-- NAVEGACIÓN -->
		
		<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/ofertaProyecto/listarOfertasTutor}">Listado de ofertas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/asignacion/listarAsignacionesTutor/{dniT}(dniT=${session.user.username})}">Listado de mis Asignaciones</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<!-- CONTENIDO BD -->
	
		<table  class="table table-striped">
			<thead>
				<tr>
					<th>Fecha Alta</th>
					<th>Objetivo</th>
					<th>Descripcion</th>
					<th>Itinerario</th>
					<th>Semestre</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="oferta: ${ofertas}">
					<td th:text="${oferta.fechaAlta}"></td>
					<td th:text="${oferta.tarea}"></td>
					<td th:text="${oferta.objetivo}"></td>
					<td th:text="${oferta.descItinerario}"></td>			
					<td th:text="${oferta.semestre}"></td>
					<td th:text="${oferta.descEstado}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>