<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Gestionar Ofertas</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/PerfilEmpresa/listEmpresa.css" th:href="@{/css/PerfilEmpresa/listEmpresa.css}"/>
</head>
<body>
	<!-- HEADER -->
	<header>
		<h1>Ofertas Propias</h1>
	</header>
	
	<!-- CONTENIDO BD -->
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Fecha Alta</th>
				<th>Objetivo</th>
				<th>Descripcion</th>
				<th>Estado</th>
				<th>Itinerario</th>
				<th>Responsable</th>
				<th>Semestre</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="oferta: ${ofertas}">
				<td th:text="${oferta.fechaAlta}"></td>
				<td th:text="${oferta.tarea}"></td>
				<td th:text="${oferta.objetivo}"></td>
				<td th:text="${oferta.descEstado}"></td>
				<td th:text="${oferta.descItinerario}"></td>
				<td th:text="${oferta.dni}"></td>
				<td th:text="${oferta.semestre}"></td>
				<!--  <td th:text="${oferta.cif}"></td> -->
				
				<td><a th:href="@{/ofertaProyecto/updateEstadoEmpresa/{id}(id=${oferta.id})}">Editar</a></td>
				
			</tr>
		</tbody>
	</table>
	
	<!-- ENLACES -->
	<div class="local-button">
			<a th:href="@{/ofertaProyecto/addOfertaEmpresa}" 
				class="btn btn-success"> <span
				class="glyphicon glyphicon-plus"></span> Oferta
			</a>
		</div>
	
	
	
	<a class="btn btn-primary btn-dark" th:href="@{/index/vistaEmpresa}" >Atras</a>
	
</body>
</html>