<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Gestionar Ofertas</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h1>Lista de Ofertas</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>tarea</th>
				<th>objetivo</th>
				<th>estado</th>
				<th>itinerario</th>
				<th>fechaAlta</th>
				<th>dni</th>
				<th>cif</th>
				<th>semestre</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="oferta: ${ofertas}">
				<td th:text="${oferta.tarea}"></td>
				<td th:text="${oferta.objetivo}"></td>
				<td th:text="${oferta.descEstado}"></td>
				<td th:text="${oferta.descItinerario}"></td>
				<td th:text="${oferta.fechaAlta}"></td>
				<td th:text="${oferta.dni}"></td>
				<td th:text="${oferta.cif}"></td>
				<td th:text="${oferta.semestre}"></td>
				<td><a th:href="@{'/ofertaProyecto/add/'+ ${oferta.id}}">Validar Oferta</a></td>
				<td><a th:href="@{/ofertaProyecto/updateBTC/{id}(id=${oferta.id})}">Modificar Estado</a></td>
			</tr>
		</tbody>
	</table>
	<li><a th:href="@{/index/index2}">Atras</a></li>
</body>
</html>