<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>BTAS</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" ></script>
</head>
<body>
	<!-- HEADER -->
	<div class="cabecera">
		<header>
			<div class="page-header-btc">
			<img src="/img/uji.png" th:src="@{/img/uji.png}" class="avatar" id="logo" />
			<h1>Ofertas Propias</h1>
			</div>
		</header>
	   </div>
	
	
	<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/ofertaProyecto/listEmpresa/{cif}(cif=${session.user.username})}">ofertas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/ofertaProyecto/listEmpresaAnulacion/{cif}(cif=${session.user.username})}">Solicitar Anulación Oferta</a>
					</li>
				</ul>
			</div>
			<div class="cent"><a class="btn btn-primary btn-dark" href="/../login.html" role="button">SALIR</a></div>
	</nav>
	
	<!-- CONTENIDO BD -->
	<div th:if="${#lists.isEmpty(ofertas)}">
			<div class="alert alert-warning" role = "alert">
				Aun no has añadido ninguna oferta, dale al boton Nueva Oferta para añadir tu primera oferta
			</div>
		</div>
	    
	     <div th:unless="${#lists.isEmpty(ofertas)}">
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>Fecha Alta</th>
				<th>Objetivo</th>
				<th>Descripcion</th>
				<th>Estado</th>
				<th>Itinerario</th>
				<th>Responsable</th>
				<th>Semestre</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="oferta: ${ofertas}">
				<td th:text="${oferta.fechaAlta}"></td>
				<td th:text="${oferta.tarea}"></td>
				<td th:text="${oferta.objetivo}"></td>
				<td th:text="${oferta.descEstado}"></td>
				<td th:text="${oferta.descItinerario}"></td>
				<td th:text="${oferta.dni}"></td>
				<td th:text="${oferta.semestre}"></td>
				<!--  <td th:text="${oferta.cif}"></td> -->
				
				<td><a class="btn btn-info btn-sm" th:href="@{/ofertaProyecto/updateEstadoEmpresa/{id}(id=${oferta.id})}">Editar</a></td>
				
			</tr>
		</tbody>
	</table>
	</div>
	
	<!-- ENLACES -->
	
		<div class="cent">
		<a class="btn btn-primary btn-success" th:href="@{/ofertaProyecto/addOfertaEmpresa}" role="button">NUEVA OFERTA</a>
		</div>
			
		<div><a class="btn btn-primary btn-dark" th:href="@{/index/vistaEmpresa}" role="button">INICIO</a></div>
		
		<footer class="page-footer font-small blue pt-4 mt-4">
				<div class="footer-copyright text-center py-3">© 2018 Copyright:
      				<a > Ivan Serrano y Jessica Cheto</a>
      				
    			</div>
    			<p>EI1027 - Diseño e Implementación Sistemas Información</p>
			</footer>

	
</body>
</html>