<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
		<title>BTAS</title>
			<meta charset="UTF-8" />
			<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" ></script>
	</head>
	<body>
		<!-- HEADER -->
		<header><h1>Lista de Ofertas</h1></header>
		
		<!-- NAVEGACIÓN -->
	    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/Empresa/list2}">Empresas / Ofertas</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listarPreferenciasCCD}">Preferencias por Estudiante</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/list2}">Asignaciones por Estudiante</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<!-- DATOS BD -->
		<table  class="table table-hover">
			<thead>
				<tr>
					
					<th>Tarea</th>
					<th>Objetivo</th>
					<th>Estado</th>
					<th>Itinerario</th>
					<th>Fecha Alta</th>
					<th>Semestre</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="oferta: ${ofertas}">
					
					<td th:text="${oferta.tarea}"></td>
					<td th:text="${oferta.objetivo}"></td>
					<td th:text="${oferta.descEstado}"></td>
					<td th:text="${oferta.descItinerario}"></td>
					<td th:text="${oferta.fechaAlta}"></td>
					<td th:text="${oferta.semestre}"></td>
			 	<!-- 	<td><a th:href="@{/preferenciasEstudiante/add/{id}(id=${oferta.id})/{dni}(dni=${session.user.username})}">add</a></td>--> 
			 	<td><a class="btn btn-primary btn-sm" role="button" th:href="@{/ofertaProyecto/updateEstado/{id}(id=${oferta.id})}">Modificar Estado</a></td>
				</tr>
			</tbody>
		</table>
		<div class="cent"><a class="btn btn-primary btn-dark" th:href="@{/Empresa/list2}" role="button">Atras</a></div>
		
	</body>
</html>