<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>BTAS</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
	
</head>
<body>
	<header><h1>Modificar Oferta</h1></header>
	
	<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/ofertaProyecto/listEmpresa/{cif}(cif=${session.user.username})}">Gestionar ofertas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/ofertaProyecto/listEmpresaAnulacion/{cif}(cif=${session.user.username})}">Solicitar Anulacion de alguna Oferta</a>
					</li>
				</ul>
			</div>
	</nav>
	<center>
	<form action="#" th:action="@{/ofertaProyecto/updateEstadoEmpresa/} + ${ofertas.id}" th:object="${ofertas}" method="post" role="form">
		
		<div class="form-group">
			<label for="exampleFormControlInput1">Objetivo</label>
			<div class="col-lg-4">
			<input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{tarea}" placeholder="Objetivo" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="exampleFormControlInput1">Descripcion</label>
			<input type="text" th:field="*{objetivo}" class="form-control" id="exampleFormControlInput1" placeholder="Descripción"/>
		</div>
		
		<div class="form-group">
			<label for="exampleFormControlInput1">Itinerario</label>
    		<select class="form-control" id="exampleFormControlSelect1" name="itinerario" th:field="*{descItinerario}">       			
				<option value="Ingenieria de Software">Ingenieria de Software</option> 
				<option value="Sistemes de Informacio">Sistemes de Informacio</option>
				<option value="Tecnologias Web">Tecnologias Web</option>
				<option value="Ingenieria de Computadores">Ingenieria de Computadores</option>
			</select>
  		</div>
  		
  		<div class="form-group">
			<label for="exampleFormControlInput1">Semestre</label>
			<input type="number" min="1" max="2" th:field="*{semestre}" class="form-control" id="exampleFormControlInput1" placeholder="Descripción"/>
		</div>

		<button type="submit" class="btn btn-primary">Actualizar oferta</button>

				
	</form>
</center>
</body>
</html>