<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Crear nou nadador</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/natacio.css" th:href="@{/css/style.css}"/>
	
</head>
<body>
	<h2>Modificar Oferta</h2>
	<form action="#" th:action="@{/ofertaProyecto/updateEstadoEmpresa/} + ${ofertas.id}" th:object="${ofertas}" method="post">
		<table>
		
<!-- 			<tr> -->
<!-- 				<td><label>id</label></td> -->
<!-- 				<td><input type="text" th:field="*{id}" /></td> -->
<!-- 			</tr> -->
			
			  
			<tr>
				<label>Itinerario</label>
				
				<select name="itinerario" th:field="*{descItinerario}">       			
			       
			       <option value="Ingenieria de Software">Ingenieria de Software</option> 
			       
			       <option value="Sistemes de Informacio">Sistemes de Informacio</option>
			        <option value="Tecnologias Web">Tecnologias Web</option>
					 <option value="Ingenieria de Computadores">Ingenieria de Computadores</option>
		</select></tr>
		
		<tr>
				<td><label>tarea</label></td>
				<td><input type="text" th:field="*{tarea}" placeholder="tarea a realizar" /></td>
			</tr>
			<tr>
			<td><label>tarea</label></td>
				<td><input type="text" th:field="*{objetivo}" placeholder="Objetivo" /></td>
			</tr>
			<tr>
				<td><label>semestre</label></td>
				<td><input type="number" min="1" max="2" th:field="*{semestre}" /></td>
			</tr>
			
			<tr>
				<td colspan="2"><input type="submit" value="Actualitza oferta" /></td>
				
			</tr>
		</table>
	</form>
</body>
</html>