<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>BTAS</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" ></script>
</head>
	<body>
	<div class="cabecera">
		<header>
			<div class="page-header-btc">
			<img src="/img/uji.png" th:src="@{/img/uji.png}" class="avatar" id="logo" />
			<h1>BTC - Modificar Oferta</h1>
			</div>
		</header>
	   </div>
	
		<!-- NAVEGACIÓN -->
	  	<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/Empresa/list}">Empresas / Ofertas</a>
					</li>
					<!-- 
					<li class="nav-item">
						<a class="nav-link" th:href="@{/ofertaProyecto/list}">Ofertas</a>
					</li>
					 -->
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listBTC}">Asistente Creación Asignación</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listarPreferencias}">Preferencias por Estudiante</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listEstudiantesBTCAsignaciones}">Asignaciones por Estudiante</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/asignacion/add}">Todas las asignaciones</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listBTCRechazar}">Asistente Anulación Asignaciones</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/asignacion/listAsigModTutor}">Modificación Tutor Asignacion</a>
					</li>
				</ul>
			</div>
			
			<div class="cent"><a class="btn btn-primary btn-dark" href="/../login.html" role="button">SALIR</a></div>
		</nav>
		
		
		<!-- DATOS BD -->
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-7">
					<form action="#" class="form-group justify-content-center" th:action="@{/ofertaProyecto/updateBTC/} + ${ofertaProyectos.id}" th:object="${ofertaProyectos}" method="post">
					
						  <div class="form-group">
						    <label for="exampleInputEmail1">Objetivo</label>
						    <input type="text" th:field="*{tarea}" class="form-control" id="exampleInputEmail1"/>
						  </div>
						  
						  <div class="form-group">
						    <label for="exampleInputPassword1">Descripción</label>
						    <textarea type="text" th:field="*{objetivo}" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
						    <!--  <input type="text" th:field="*{objetivo}" class="form-control" id="exampleInputPassword1"/> -->
						  </div>
						  
						   <div class="form-group">
							    <label for="exampleFormControlSelect1">Estado</label>
							    <select name="estado" th:field="*{descEstado}" class="form-control" id="exampleFormControlSelect1">
							      	<option value="Introducida">Introducida</option> 
						       		<option value="Aceptada">Aceptada</option>
						       		<option value="Rechazada">Rechazada</option> 
						       		<option value="Asignada">Asignada</option>
							    </select>
						  </div>
						  
						  <button type="submit" value="Modificar" class="btn btn-primary btn-lg btn-success" id="boton" role="button">Modificar</button>
						  
						  
					</form>
					
				</div>
					<div class="cent"><a class="btn btn-primary btn-dark" th:href="@{/index/index2}" role="button">INICIO</a></div>
			</div>
				
		</div>
		
		<footer id="updateFooter" class="page-footer font-small blue pt-4 mt-4">
				<div class="footer-copyright text-center py-3">© 2018 Copyright:
      				<a > Ivan Serrano y Jessica Cheto</a>
      				
    			</div>
    			<p>EI1027 - Diseño e Implementación Sistemas Información</p>
			</footer>
	</body>
</html>