<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Gestionar Empresas</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h1>Empresa</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>CIF</th>
				<th>nombre</th>
				<th>telefono</th>
				<th>email</th>
				<th>web</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="empresa: ${empresas}">
				<td th:text="${empresa.cif}"></td>
				<td th:text="${empresa.nombre}"></td>
				<td th:text="${empresa.telefono}"></td>
				<td th:text="${empresa.email}"></td>
				<td th:text="${empresa.direccionWeb}"></td>
				<td><a th:href="@{/Empresa/update/{cif}(cif=${empresa.cif})}">Edita</a></td>
				<td><a th:href="@{/Empresa/delete/{cif}(cif=${empresa.cif})}">Esborra</a></td>
			</tr>
		</tbody>
	</table>
	
	<h2>Responsable de la empresa</h2>
	<table class="table table-striped">
	<thead>
			<tr>
				<th>CIF</th>
				<th>DNI</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="personaContacto: ${personasContactos}">
				<td th:text="${personaContacto.cif}"></td>
				<td th:text="${personaContacto.dni}"></td>
				<td><a th:href="@{'/personaContacto/update/'+${personaContacto.dni}}">Edita</a></td>
				<td><a th:href="@{'/personaContacto/delete/'+${personaContacto.dni}}">Esborra</a></td>
			</tr>
			<tr th:each="empresa: ${empresas}">
			<td><a th:href="@{'/personaContacto/add/'+${empresa.cif}}">Añadir responsable empresa</a></td>
			</tr>
		</tbody>
	</table>
	<a href="../list.html">Atrás</a>
</body>
</html>