<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Actualiza empresa</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/natacio.css" th:href="@{/css/style.css}"/>
	<script type="text/javascript">
	function volverAtras(){
		return window.location.assign("http://localhost:8080/Empresa/listEmpresa/"+document.getElementById("cif").innerHTML+".html");
	}	
	</script>
</head>
<body>
	<h2>Tutor</h2>
	<form action="#" th:action="@{/Empresa/update/} + ${empresa.id}" th:object="${empresa}" method="post">
		<table>
			<tr>
				<td><label>id direccion</label></td>
				<td><input type="number" th:field="*{direccion}" /></td>
			</tr>
			<tr>
				<td><label>nombre</label></td>
				<td><input type="text" th:field="*{nombre}"  /></td>
			</tr>
			
			<tr>
				<td><label>web</label></td>
				<td><input type="text" th:field="*{direccionWeb}" /></td>
			</tr>
			<tr>
				<td><label>email</label></td>
				<td><input type="text" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td><label>telefono</label></td>
				<td><input type="number" th:field="*{telefono}" /></td>
			</tr>
			
			<tr>
				<td colspan="2"><input type="submit" value="Actualitza empresa" /></td>
			</tr>
			<tr>
				<td><form><input type="button" value="Atrás" onclick="return volverAtras()"/></form></td>
			</tr>
			<tr>
			<td th:text="*{id}" th:id="cif" hidden="true"></td>
			</tr>
		</table>
	</form>
	
</body>
</html>