
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Gestionar Preferencias CCD</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h1>Lista de Preferencias</h1>
	<table   class="table table-striped">
		<thead>
			<tr>
				<th>orden</th>
				<th>estado</th>
				<th>descEstado</th>
				<th>fechaUltimoCambio</th>
				<th>itinerario</th>
				<th>descItinerario</th>
				<th>descripcion</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="preferenciasOfertaEstancia: ${preferencias}">
				<td th:text="${preferenciasOfertaEstancia.orden}"></td>
				<td th:text="${preferenciasOfertaEstancia.estado}"></td>
				<td th:text="${preferenciasOfertaEstancia.descEstado}"></td>
				<td th:text="${preferenciasOfertaEstancia.fechaUltimoCambio}"></td>
				<td th:text="${preferenciasOfertaEstancia.itinerario}"></td>
				<td th:text="${preferenciasOfertaEstancia.descItinerario}"></td>
				<td th:text="${preferenciasOfertaEstancia.descripcion}"></td>
			</tr>
		</tbody>
	</table>
</body>

</html>