<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Añadir Persona Contacto</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/natacio.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h2>Nova oferta</h2>
	<form action="#" th:action="@{/personaContacto/add}" th:object="${personaContacto}" method="post">
		<table>
			  <tr>
				<td><label>DNI</label></td>
				<td><input type="text" th:field="*{dni}" placeholder="dni" /></td>
			</tr>  
			<tr>				
				<td><input type="hidden" th:field="*{cif}" value="${personaContacto.cif}"/></td>
			</tr>
	
			
			
			<tr>
				<td colspan="2"><input type="submit" value="Añadir Persona Contacto" /></td>
				
			</tr>
		</table>
		
		
	</form>
	<li><a href="list.html">Atras</a></li>
</body>
</html>