<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Modifica PersonaContacto</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/natacio.css" th:href="@{/css/style.css}"/>
	<script type="text/javascript">
	function volverAtras(){
		return window.location.assign("http://localhost:8080/Empresa/listEmpresa/"+document.getElementById("cif").value+".html");
	}	
	</script>
</head>
<body>
	<h2>Modificar responsable empresa</h2>
	<form action="#" th:action="@{/personaContacto/update/} + ${personaContacto.dni}" th:object="${personaContacto}" method="post">
		<table>

			<tr>
				<td><label>DNI</label></td>
				<td><input type="text" th:field="*{dni}" /></td>
			</tr>
			<tr>
			<td><input type="text" th:field="*{cif}" hidden="true" th:id="cif" value="*{cif}"/></td>
			</tr>
			
			<tr>
				<td colspan="2"><input type="submit" value="Actualitza Persona" /></td>
			</tr>
			<tr>
				<td><form><input type="button" value="Atrás" onclick="return volverAtras()"/></form></td>
			</tr>
		</table>
	</form>
</body>
</html>