
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>BTAS</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" ></script>
</head>
<body>
	<!-- HEADER -->
		<div class="cabecera">
		<header>
			<div class="page-header-btc">
			<img src="/img/uji.png" th:src="@{/img/uji.png}" class="avatar" id="logo" />
			<h1>Asignaciones Estudiante</h1>
			</div>
		</header>
	   </div>
		
	    
	    <!-- NAVEGACIÓN -->
	     <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/Empresa/list}">Empresas / Ofertas</a>
					</li>
					<!-- 
					<li class="nav-item">
						<a class="nav-link" th:href="@{/ofertaProyecto/list}">Ofertas</a>
					</li>
					 -->
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listBTC}">Asistente Creación Asignación</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listarPreferencias}">Preferencias por Estudiante</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listEstudiantesBTCAsignaciones}">Asignaciones por Estudiante</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/asignacion/add}">Todas las asignaciones</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listBTCRechazar}">Asistente Anulación Asignaciones</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/asignacion/listAsigModTutor}">Modificación Tutor Asignacion</a>
					</li>
				</ul>
			</div>
			<div class="cent"><a class="btn btn-primary btn-dark" href="/../login.html" role="button">SALIR</a></div>
		</nav>
		
		<!-- DATOS BD -->
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>DNI</th>
				<th>al</th>
				<th>Nombre Empresa</th>
				<th>Apellidos Empresa</th>
				<th>Telefono</th>
				<th>Correo</th>
				<th>Itinerario</th>
				<th>Nota Media</th>
				<th>Asignaturas Pendientes</th>
				<th>Creditos Aprobados</th>
				<th>Semestre Inicio</th>
				<th></th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="estudiante: ${#lists.sort(estudiantes)}">
				<td th:text="${estudiante.dni}"></td>
				<td th:text="${estudiante.al}"></td>
				<td th:text="${estudiante.nombre}"></td>
				<td th:text="${estudiante.apellidos}"></td>
				<td th:text="${estudiante.telefono}"></td>
				<td th:text="${estudiante.email}"></td>
				<td th:text="${estudiante.descItinerario}"></td>
				<td th:text="${estudiante.notaMedia}"></td>
				<td th:text="${estudiante.numAsigPendiente}"></td>
				<td th:text="${estudiante.numCreditosAprobados}"></td>
				<td th:text="${estudiante.semestreInicioEstancia}"></td>
				<td><a class="btn btn-info btn-sm" th:href="@{/asignacion/listarAsignacionesEstudianteBTC/{dni}(dni=${estudiante.dni})}">Asignaciones</a></td>
			</tr>
		</tbody>
	</table>
	<div class="cent"><a class="btn btn-primary btn-dark" th:href="@{/index/index2}" role="button">INICIO</a></div>
	
	<footer class="page-footer font-small blue pt-4 mt-4">
				<div class="footer-copyright text-center py-3">© 2018 Copyright:
      				<a > Ivan Serrano y Jessica Cheto</a>
      				
    			</div>
    			<p>EI1027 - Diseño e Implementación Sistemas Información</p>
			</footer>
</body>
</html>