<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Crear nou nadador</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/natacio.css" th:href="@{/css/style.css}"/>
	
</head>
<body>
	<h2>Nuevo Estudiante</h2>
	<form action="#" th:action="@{/estudiante/update/} + ${estudiante.id}" th:object="${estudiante}" method="post">
		<table>
		
<!-- 			<tr> -->
<!-- 				<td><label>id</label></td> -->
<!-- 				<td><input type="text" th:field="*{id}" /></td> -->
<!-- 			</tr> -->
			
			  
			<tr>
				<td><label>al</label></td>
				<td><input type="text" th:field="*{al}" /></td>
			</tr>
			<tr>
				<td><label>nombre</label></td>
				<td><input type="text" th:field="*{nombre}"  /></td>
			</tr>
			
			<tr>
				<td><label>apellidos</label></td>
				<td><input type="text" th:field="*{apellidos}" /></td>
			</tr>
		
		
			<tr>
			<label>Itinerario</label>
			
		<select name="Itinerarios" th:field="*{descItinerario}">       			
			       <option value="Sin definir">Sin definir</option> 
			       <option value="Ingenieria de Software">Ingenieria de Software</option> 
			       <option value="Tecnologias Web">Tecnologias Web</option>
			       <option value="Sistemes de Informacio">Sistemas de la Informacion</option> 
			       <option value="Ingenieria de Computadores">Ingenieria de computadores</option> 
		</select></tr> 
		<tr>
				<td><label>notaMedia</label></td>
				<td><input type="text" th:field="*{notaMedia}" /></td>
			</tr>
				<tr>
				<td><label>numAsigPen</label></td>
				<td><input type="text" th:field="*{numAsigPendiente}" /></td>
			</tr>
			<tr>
				<td><label>numcreditosaprov</label></td>
				<td><input type="text" th:field="*{numCreditosAprobados}" /></td>
			</tr>
			<tr>
				<td><label>semestreInicioEstancia</label></td>
				<td><input type="text" th:field="*{semestreInicioEstancia}" /></td>
			</tr>
			
			<tr>
				<td colspan="2"><input type="submit" value="Actualitza estudiante" /></td>
				
			</tr>
		</table>
	</form>
</body>
</html>