<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Crear nova preferencia</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/natacio.css" th:href="@{/css/style.css}"/>
</head>
<body >

	
	
	
	
	<h2 style="margin-top:50px;text-align:center;margin-bottom:30px">Nova Preferencia</h2>
	
	<form action="#" th:action="@{/preferenciasEstudiante/add}" th:object="${preferenciasEstudiante}" method="post" >
		
	
		<table style="margin: 0 auto;">
		
			<tr>
				<td><input type="hidden" th:field="*{id}" /></td>
			</tr>
			
		
			<tr>
				
				<td><input type="hidden"   th:field="*{dni}" /></td>
			</tr>
			 
			<tr>
				<td><label style="text-align:left;margin-right:20px">Orden</label></td>
				<td><input style="text-align:left" type="text" th:field="*{orden}" /></td>
			</tr>
			
		
			<tr >
				<td ><label style="text-align:left;margin-right:20px">Fecha Ultimo Cambio</label></td>
				<td ><input style="text-align:left" type="date" th:field="*{fechaUltimoCambio}" /></td>
			</tr>
	
			<tr style="text-align:center">
				<td colspan="2"><input style="margin-top:30px;" type="submit" value="Afegeix preferencia" /></td>
				
			</tr>
		</table>
		
	
	</form>
	<li><a th:href="@{/ofertaProyecto/listes}">Atras</a></li>
</body>
</html>