
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Crear nova preferencia</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/natacio.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h2>Nova Preferencia</h2>
	<form action="#" th:action="@{/preferenciasEstudiante/add}" th:object="${preferenciasEstudiante}" method="post">
		
		
		<table>
			<tr>
			
				<td><input type="hidden" th:field="*{id}" /></td>
			</tr>
			
		
			<tr>
				
				<td><input type="hidden"   th:field="*{dni}" /></td>
			</tr>
			 
			<tr>
				<td><label>orden</label></td>
				<td><input type="text" th:field="*{orden}" /></td>
			</tr>
			
		
			<tr>
				<td><label>fechaUltimoCambio</label></td>
				<td><input type="date" th:field="*{fechaUltimoCambio}" /></td>
			</tr>
	
			<tr>
				<td colspan="2"><input type="submit" value="Afegeix preferencia" /></td>
				
			</tr>
		</table>
	</form>
</body>
</html>