<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Gestionar Preferencias</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body>
	<h1>Lista de Preferencias</h1>
	
	<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/ofertaProyecto/listes/{dni}(dni=${session.user.username})}">Lista de ofertas</a></li>
					
					<li class="nav-item"><a class="nav-link" th:href="@{/preferenciasEstudiante/listes/{dni}(dni=${session.user.username})}" >Lista de mis preferencias</a></li>
					
					<li class="mav-item"><a class="nav-link" th:href="@{/asignacion/listarAsignacionesEstudiante/{dni}(dni=${session.user.username})}" >Mis Asignaciones</a></li>
					
				</ul>
			</div>
		</nav>
	
	<table   class="table table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th>orden</th>
				<th>estado</th>
				<th>fechaUltimoCambio</th>
				<th>dni</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="preferenciasEstudiante: ${preferencias}">
				<td th:text="${preferenciasEstudiante.id}"></td>
				<td th:text="${preferenciasEstudiante.orden}"></td>
				<td th:text="${preferenciasEstudiante.descEstado}"></td>
				<td th:text="${preferenciasEstudiante.fechaUltimoCambio}"></td>
				<td th:text="${preferenciasEstudiante.dni}"></td>
				<td><a th:href="@{'/preferenciasEstudiante/update/'+ ${preferenciasEstudiante.id} + '/' + ${preferenciasEstudiante.dni}}">Edita</a></td>
				<td><a th:href="@{'/preferenciasEstudiante/delete/'+ ${preferenciasEstudiante.id} + '/' + ${preferenciasEstudiante.dni}}">Esborra</a></td>
			</tr>
		</tbody>
	</table>
	<li><a th:href="@{/index/index3}">Atras</a></li>
</body>
</html>