<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Crear nova oferta</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/natacio.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h2>Nuevo estudiante</h2>
	<form action="#" th:action="@{/asignacion/add}" th:object="${asignacion}" method="post">
		<table>
			  <tr>
				<td><label>Añade el DNI del tutor eleguido en la Asignación</label></td>
				<td><input type="text" th:field="*{dniT}" placeholder="identificador estudiante" /></td>
			</tr>  
			
		
			<tr>
				<td colspan="2"><input type="submit" value="Afegeix estudiant" /></td>
				
			</tr>
		</table>
		
		
	</form>
	<li><a href="list.html">Atras</a></li>
</body>
</html>