<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Crear nova oferta</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/natacio.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h1>AsignacionE</h1>
	<table class="table table-striped">
		<thead>
			<tr>
			
				<th>FechaAceptacion</th>
				<th>Estado</th>
				
				<th>DniE</th>
				<th>DniT</th>
				<th>idOferta</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="asig: ${asignaciones}">
				
				<td th:text="${asig.fechaAceptacion}"></td>
				<td >Aceptada</td>
				
				<td th:text="${asig.dniE}"></td>
				<td th:text="${asig.dniT}"></td>
				<td th:text="${asig.id_oferta}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>