<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>BTAS</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" ></script>
</head>
<body>
	<!-- HEADER -->
	<header><h1>Asignacion/es del Estudiante</h1></header>
	
	
	<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/ofertaProyecto/listes/{dni}(dni=${session.user.username})}">Lista de ofertas</a></li>
					
					<li class="nav-item"><a class="nav-link" th:href="@{/asignacion/listarAsignacionesEstudiante/{dni}(dni=${session.user.username})}" >Asignaciones</a></li>
					
					<li class="mav-item"><a class="nav-link" th:href="@{/preferenciasOferta/listarParaEstudiantes/{dni}(dni=${session.user.username})}" >Preferencias</a></li>	
				</ul>
			</div>
			
			<div class="cent"><a class="btn btn-primary btn-dark" th:href="@{/index/index3}" role="button">Atras</a></div>
	</nav>
	
	<table class="table table-hover">
		<thead>
			<tr>
			
				<th>Fecha Aceptacion</th>
				<th>Dni Estudiante</th>
				<th>Nombre Estudiante</th>
				<th>Nombre Empresa</th>
				<th>CIF Empresa</th>
				<th>Dni Tutor</th>
				<th>Nombre Tutor</th>
				<th>Estado</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="asig: ${asignaciones}">
				
				<td th:text="${asig.fechaAceptacion}"></td>
				
				<td th:text="${asig.dniE}"></td>
				<td th:text="${asig.nombreEstudiante}"></td>
				<td th:text="${asig.nombreEmpresa}"></td>
				<td th:text="${asig.cif}"></td>
				<td th:text="${asig.dniT}"></td>
				<td th:text="${asig.nombreTutor}"></td>
				<td th:text="${asig.descEstado}"></td>
			</tr>
		</tbody>
	</table>
	
	<div class="cent"><a class="btn btn-primary btn-dark" th:href="@{/index/index4}" role="button">Atras</a></div>

	
</body>
</html>