<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
		<title>BTAS</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" ></script>
		</head>
	
	<body>
		
		<!-- HEADER -->
		<header><h1>Asignación/es Propias</h1></header>
		
		<!-- NAVEGACIÓN -->
		
		<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/asignacion/listarAsignacionesTutor/{dniT}(dniT=${session.user.username})}">Listado de mis Asignaciones</a>
					</li>
					<li>
						<a class="nav-link" th:href="@{/Empresa/listarTutor}">Empresas / Ofertas</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<!-- CONTENIDO BD -->
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Fecha Aceptacion</th>		
					<th>Estudiante</th>
					<th>DNI Estudiante</th>
					<th>Empresa</th>
					<th>CIF</th>
					<th>Estado Asignación</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="asig: ${asignaciones}">
					<td th:text="${asig.fechaAceptacion}"></td>
					<td th:text="${asig.nombreEstudiante}"></td>
					<td th:text="${asig.dniE}"></td>
					<td th:text="${asig.nombreEmpresa}"></td>
					<td th:text="${asig.cif}"></td>
					<td th:text="${asig.descEstado}"></td>
				</tr>
			</tbody>
		</table>
		
		<div class="cent"><a class="btn btn-primary btn-dark" th:href="@{/index/vistaTutor}" role="button">ATRAS</a></div>
		
				
	</body>
</html>