
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>BTAS</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" ></script>
</head>
<body>
	<!-- HEADER -->
		<div class="cabecera">
		<header>
			<div class="page-header-btc">
			<img src="/img/uji.png" th:src="@{/img/uji.png}" class="avatar" id="logo" />
			<h1>ListaPreferencias</h1>
			</div>
		</header>
	   </div>
	
	    
	    <!-- NAVEGACIÓN -->
	  	<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/Empresa/list}">Empresas / Ofertas</a>
					</li>
					<!-- 
					<li class="nav-item">
						<a class="nav-link" th:href="@{/ofertaProyecto/list}">Ofertas</a>
					</li>
					 -->
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listBTC}">Asistente Creación Asignación</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listarPreferencias}">Preferencias por Estudiante</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listEstudiantesBTCAsignaciones}">Asignaciones por Estudiante</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/asignacion/add}">Todas las asignaciones</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listBTCRechazar}">Asistente Anulación Asignaciones</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/asignacion/listAsigModTutor}">Modificación Tutor Asignacion</a>
					</li>
				</ul>
			</div>
			
			<div class="cent"><a class="btn btn-primary btn-dark" href="/../login.html" role="button">SALIR</a></div>
		</nav>
		
		<!-- DATOS BD -->
	
		<table   class="table table-hover">
			<thead>
				<tr>
					<th>Orden</th>
					<th>Estado</th>
	
					<th>Fecha Ultimo Cambio</th>
					<th>Itinerario</th>
					
					<th>DNI Estudiante</th>
					<th>CIF</th>
					<th>Objetivo</th>
					<th>Descripción</th>
					<th>Fecha Alta</th>
					<th>Semestre Realización</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="preferenciasOferta: ${preferencias}">
					<td th:text="${preferenciasOferta.orden}"></td>
					<td th:text="${preferenciasOferta.estado}"></td>
					<td th:text="${preferenciasOferta.fechaUltimoCambio}"></td>
					<td th:text="${preferenciasOferta.descItinerario}"></td>
					<td th:text="${preferenciasOferta.dni}"></td>
					<td th:text="${preferenciasOferta.cif}"></td>
					<td th:text="${preferenciasOferta.tarea}"></td>
					<td th:text="${preferenciasOferta.objetivo}"></td>
					<td th:text="${preferenciasOferta.fechaAlta}"></td>
					<td th:text="${preferenciasOferta.semestre}"></td>
				</tr>
			</tbody>
		</table>
		<div class="cent"><a class="btn btn-primary btn-dark" th:href="@{/estudiante/listarPreferencias}" role="button">ATRAS</a></div>
		<footer class="page-footer font-small blue pt-4 mt-4">
				<div class="footer-copyright text-center py-3">© 2018 Copyright:
      				<a > Ivan Serrano y Jessica Cheto</a>
      				
    			</div>
    			<p>EI1027 - Diseño e Implementación Sistemas Información</p>
			</footer>
</body>

</html>