
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Gestionar Preferencias CCD</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h1>Lista de Preferencias</h1>
	
	<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/ofertaProyecto/listes/{dni}(dni=${session.user.username})}">Lista de ofertas</a></li>
					
					<li class="nav-item"><a class="nav-link" th:href="@{/preferenciasEstudiante/listes/{dni}(dni=${session.user.username})}" >Lista de mis preferencias</a></li>
					
					<li class="mav-item"><a class="nav-link" th:href="@{/asignacion/listarAsignacionesEstudiante/{dni}(dni=${session.user.username})}" >Mis Asignaciones</a></li>
					
				</ul>
			</div>
		</nav>
	<table   class="table table-striped">
		<thead>
			<tr>
				<th>orden</th>
				<th>estado</th>
				
				<th>fechaUltimoCambio</th>
				<th>itinerario</th>
			
				<th>dni</th>
				<th>cif</th>
				<th>tarea</th>
				<th>objetivo</th>
				<th>fechaalta</th>
				<th>semestre</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="preferenciasOferta: ${preferencias}">
				<td th:text="${preferenciasOferta.orden}"></td>
				
				<td th:text="${preferenciasOferta.descEstado}"></td>
				<td th:text="${preferenciasOferta.fechaUltimoCambio}"></td>
				
				<td th:text="${preferenciasOferta.descItinerario}"></td>
				<td th:text="${preferenciasOferta.dni}"></td>
				<td th:text="${preferenciasOferta.cif}"></td>
				<td th:text="${preferenciasOferta.tarea}"></td>
				<td th:text="${preferenciasOferta.objetivo}"></td>
				<td th:text="${preferenciasOferta.fechaAlta}"></td>
				<td th:text="${preferenciasOferta.semestre}"></td>
				<!-- <td><a th:href="@{/preferenciasOferta/listBTC/{dni}(dni=${estudiante.dni})}">Preferencias</a></td>-->
				
				<td><a th:href="@{'/preferenciasEstudiante/update/'+ ${preferenciasOferta.id} + '/' + ${preferenciasOferta.dni}}">Edita</a></td>
				<td><a th:href="@{'/preferenciasEstudiante/delete/'+ ${preferenciasOferta.id} + '/' + ${preferenciasOferta.dni}}">Esborra</a></td>
				
			</tr>
			
			
			
			
		</tbody>
	</table>
	<li><a th:href="@{/index/index3}">INICIO</a></li>
	
</body>

</html>