<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8" />
	<title>Actualiza un tutor</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/natacio.css" th:href="@{/css/style.css}"/>
	
</head>
<body>
	<h2>Tutor</h2>
	<form action="#" th:action="@{/tutor/update/} + ${tutor.id}" th:object="${tutor}" method="post">
		<table>
			<tr>
				<td><label>id direccion</label></td>
				<td><input type="number" th:field="*{id_dir}" /></td>
			</tr>
			<tr>
				<td><label>nombre</label></td>
				<td><input type="text" th:field="*{nombre}"  /></td>
			</tr>
			
			<tr>
				<td><label>despacho</label></td>
				<td><input type="text" th:field="*{despacho}" /></td>
			</tr>
			<tr>
				<td><label>departamento</label></td>
				<td><input type="text" th:field="*{departamento}" /></td>
			</tr>
			<tr>
				<td><label>email</label></td>
				<td><input type="text" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td><label>telefono</label></td>
				<td><input type="number" th:field="*{telefono}" /></td>
			</tr>
			
			<tr>
				<td colspan="2"><input type="submit" value="Actualitza tutor" /></td>
				
			</tr>
		</table>
	</form>
	<li><a href="list.html">cancelar</a></li>
	
</body>
</html>