<!DOCTYPE html>
<html>
	<head>
		<title>BTAS</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" ></script>
		</meta>
	</head>
	<body>
		
		<!-- HEADER -->
		<header>
		<h1>Gestión CCD</h1>
	    </header>
	    
	    <!-- NAVEGACIÓN -->
	    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/Empresa/list2}">Empresas / Ofertas</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/listarPreferenciasCCD}">Preferencias por Estudiante</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/estudiante/list2}">Asignaciones por Estudiante</a>
					</li>
				</ul>
			</div>
		</nav>
	    
	    	
		 
	</body>
</html>