<!DOCTYPE html>
<html>
<head>
<title>EI1027</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</meta>
</head>
<body>

	<h2>EI1027 - Spring MVC</h2>
	<h1>Gestio BTC</h1>
    <ul>
    <li><a th:href="@{/ofertaProyecto/list}">Ver ofertas</a></li>
    </ul>
    
    <ul>
    <li><a th:href="@{/preferenciasOfertaEstancia/listar}">Llista de preferencies</a></li>
    </ul>
    
     <ul>
    <li><a th:href="@{/estancia/list}">Gestionar ofertas</a></li>
    </ul>
    
    <ul>
    <li><a th:href="@{/Empresa/list}">Llista de empreses</a></li>
    </ul>

    <ul>
    <li><a th:href="@{/estudiante/listEstudiantesBTCAsignaciones}">Llistar asignaciones (Por Estudiante)</a></li>
    </ul>
    
    <ul>
    <li><a th:href="@{/asignacion/gestion}">Gestionar asignaciones</a></li>
    </ul>

</body>
</html>