<!DOCTYPE html>
<html>
<head>
<title>EI1027</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</meta>
</head>
<body>

	<h2>EI1027 - Spring MVC</h2>
	<h1>Gestio CCT</h1>
    
    
    	<ul>
    <li><a th:href="@{/Empresa/list2}">Llista d'Empreses</a></li>
    </ul>
    
    <ul>
    <li><a th:href="@{/ofertaProyecto/listarCCT}">Llistat d'Ofertes</a></li>
    </ul>
       
    <ul>
    <li><a th:href="@{/estudiante/listarPreferenciasCCD}">Llistat de Preferencies (Per Estudiant)</a></li>
    </ul>
    
    <ul>
    <li><a th:href="@{/estudiante/list2}">Llistat d'Asignacions (Per Estudiant)</a></li>
    </ul>
    

    <!-- <li><a href="prova/list.html">Gestió de proves</a></li>
	 </ul> -->
	 
</body>
</html>