<!DOCTYPE html>
<html>
	<head>
		<title>BTAS</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" ></script>
		
	</head>
	<body>
		<!-- HEADER -->
		<div class="cabecera">
		<header>
			<div class="page-header-btc">
			<img src="/img/uji.png" th:src="@{/img/uji.png}" class="avatar" id="logo" />
			<h1>BTC - Coordinador de TFG</h1>
			</div>
		</header>
	   </div>
	    
	   
		
		

		
		<br/><h2>Empresas / Ofertas</h2>
			<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
					<div class="navbar-collapse collapse" >
				
						<ul class="navbar-nav mr-auto">
								
							<li class="nav-item">
								<a class="nav-link" th:href="@{/Empresa/list}">Empresas</a>
							</li>
						</ul>
					</div>
					
			</nav>
		
			<br/><h2>Preferencias Por Estudiantes</h2>
			<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
					<div class="navbar-collapse collapse" >
				
						<ul class="navbar-nav mr-auto">
								
							<li class="nav-item">
								<a class="nav-link" th:href="@{/estudiante/listarPreferencias}">Preferencias</a>
							</li>
						</ul>
					</div>
			</nav>
		
			<br/><h2>Asignaciones</h2>
			<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
					<div class="navbar-collapse collapse" >
				
						<ul class="navbar-nav mr-auto">
																			
							<li class="nav-item">
								<a class="nav-link" th:href="@{/estudiante/listBTC}">Asistente Creación Asignación</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" th:href="@{/estudiante/listEstudiantesBTCAsignaciones}">Asignaciones por Estudiante</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" th:href="@{/asignacion/add}">Todas las Asignaciones</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/estudiante/listBTCRechazar}">Asistente Anulación Asignaciones</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/asignacion/listAsigModTutor}">Modificación Tutor</a>
							</li>
						</ul>
					</div>
			</nav>
			
			<center>
			<img src="/img/teacher.jpg" th:src="@{/img/teacher.jpg}" class="avatar" />
			</center>
			
			<footer class="page-footer font-small blue pt-4 mt-4">
				<div class="footer-copyright text-center py-3">© 2018 Copyright:
      				<a > Ivan Serrano y Jessica Cheto</a>
      				
    			</div>
    			<p>EI1027 - Diseño e Implementación Sistemas Información</p>
			</footer>
	</body>
</html>