<!DOCTYPE html>
<html>
<head>
<title>EI1027</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</meta>
</head>
<body>
	<h2>EI1027 - Spring MVC</h2>
	<h1>Gestio Administrador</h1>
    <ul>
    <li><a href="ofertaProyecto/list.html">Gestionar ofertes</a></li>
    
    </ul>
    
    <ul>
    <li><a href="estudiante/list.html">Gestionar estudiants</a></li>
    </ul>
    
    <ul>
    <li><a href="preferenciasEstudiante/list.html">Llista de preferencies</a></li>
    </ul>
    
    <ul>
    <li><a href="tutor/list.html">Llista de tutors</a></li>
    </ul>
    
     <ul>
    <li><a href="Empresa/list.html">Llista de empreses</a></li>
    </ul>
    
    
    <!--
      
	 
	 <li><a href="prova/list.html">Gestió de proves</a></li>
	 </ul> -->
</body>
</html>