<!DOCTYPE html >
<html>
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/stylelogin.css}"/>
	<title>Gestión BTAS</title>
	<meta charset="UTF-8"/>
</head>
<body>

	<div class="loginbox">
		
		<h1>BTAS</h1>
		<form action="#" th:action="@{/login}" 
	      th:object="${user}" method="post">
	      <p>
			<label>Nom d'usuari:</label>
			<input class="form_control" type="text" th:field="*{username}" placeholder="Usuario" />
		</p>
		<p>
			<label>Contrasenya:</label>
			 <input class="form_control" type="password" th:field="*{password}" placeholder="Contraseña" />
		</p>
			
			 <input type="submit" value="Iniciar Sesión" />
		</form>
	</div>

</body>
</html>
