<!DOCTYPE html >
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styleLogin.css" th:href="@{/css/styleLogin.css}"/>
	<title>BTAS</title>
	<meta charset="UTF-8"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" ></script>
</head>

<body>
	<div class="loginbox">
		<img src="/img/icono_usuario.png" th:src="@{/img/icono_usuario.png}" class="avatar" />
		<h1>BTAS</h1>
		<form action="#" th:action="@{/login}" th:object="${user}" method="post">
			<p>Usuario</p>
			<input class="form_control" type="text" th:field="*{username}" placeholder="Usuario" />
			<p>Contraseña</p>
			<input class="form_control" type="password" th:field="*{password}" placeholder="Contraseña" />
			<a href="#">¿Has olvidado tu contraseña?, pulsa aquí.</a>
			<input type="submit" value="Iniciar Sesión" />
		</form>
	</div>
	
	
	
			<div  class="loginUsuarios">
				<table >
					<thead>
						<tr><th><p>Perfil</p></th><th><p>Usuario</p></th><th><p>Password</p></th></tr>
					</thead>
					<tbody>
						<tr><td>BTC</td><td>btc</td><td>btc</td></tr>
						<tr><td>CCD</td><td>ccd</td><td>ccd</td></tr>
						<tr><td>Estudiante</td><td>53728161T</td><td>53728161T</td></tr>
						<tr><td>Estudiante</td><td>16545455S</td><td>16545455S</td></tr>
						<tr><td>Estudiante</td><td>82128318M</td><td>82128318M</td></tr>
						<tr><td>Empresa</td><td>A33333333</td><td>A33333333</td></tr>
						<tr><td>Empresa</td><td>A22222222</td><td>A22222222</td></tr>
						<tr><td>Empresa</td><td>A207327737</td><td>A207327737</td></tr>
						<tr><td>Tutor</td><td>22345676T</td><td>22345676T</td></tr>
						<tr><td>Tutor</td><td>12345676T</td><td>12345676T</td></tr>
						<tr><td>Tutor</td><td>12345678T</td><td>12345678T</td></tr>
					</tbody>
				</table>
			</div>
		

</body>
</html>