<!DOCTYPE html>
<html>
	<head>
		<title>BTAS</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/header.css" th:href="@{/css/header.css}"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
		</meta>
	</head>
	<body>
		<!-- HEADER -->
		<header><h1>TUTOR</h1></header>
		
		<!-- NAVEGACIÓN -->
		
		<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
			<div class="navbar-collapse collapse" >
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/ofertaProyecto/listarOfertasTutor}">Listado de ofertas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/asignacion/listarAsignacionesTutor/{dniT}(dniT=${session.user.username})}">Listado de mis Asignaciones</a>
					</li>
				</ul>
			</div>
		</nav>
	    
	    
	    
		 
	</body>
</html>