<!DOCTYPE html>
<html>
<head>
<title>EI1027</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</meta>
</head>
<body>

	
	<h1>TUTOR</h1>
    
    
    <ul>
    <li><a th:href="@{/ofertaProyecto/listarOfertasTutor}">Llistat d'Ofertes</a></li>
    </ul>
    
    <ul>
    <li><a th:href="@{/asignacion/listarAsignacionesTutor/{dniT}(dniT=${session.user.username})}">Llistat de les MEUES Asignacions</a></li>
    </ul>
    

    <!-- <li><a href="prova/list.html">Gestió de proves</a></li>
	 </ul> -->
	 
</body>
</html>