<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
		<title>BTAS</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/listarOfertasPropias.css" th:href="@{/css/listarOfertasPropias.css}"/>
	</head>
	<body>
		<header>
			<h1>Empresa</h1>
		</header>
		<nav>
			<ul class="nav nav-pills">
				<li><a class="btn btn-primary" role="button" th:href="@{/estancia/listarOfertasPropias}">Ofertas</a></li>
				<li><a th:href="@{/index/vistaEmpresa}">Salir</a></li>
			</ul>
		</nav>
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Id_Estancia</th>
					<th scope="col">Descripcion</th>
					<th scope="col">DNI</th>
					<th scope="col">CIF</th>
					<th scope="col">semestre</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="estancia: ${estancias}">
					<td th:text="${estancia.id_estancia}"></td>
					<td th:text="${estancia.descripcion}"></td>
					<td th:text="${estancia.dni}"></td>
					<td th:text="${estancia.cif}"></td>
					<td th:text="${estancia.semestre}"></td>
					<!--  <td><a th:href="@{'/ofertaProyecto/add/'+ ${estancia.id_estancia}}">Validar Estancia</a></td>-->
					<td><a th:href="@{/estancia/update/{id}(id=${estancia.id_estancia})}">Modifica</a></td>
					<!--  <td><a th:href="@{/estancia/delete/{id_estancia}(id_estancia=${estancia.id_estancia})}">Eliminar</a></td>-->
					
				</tr>
			</tbody>
		</table>
		<li><a th:href="@{/index/vistaEmpresa}">Atras</a></li>
		<a th:href="@{/estancia/add/}">nueva</a>
		
	</body>
</html>